.project{
    text-align: center;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.footer-content{
  text-align: center;
}
footer{
  height: 15px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.card-text{
  text-align: center;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
